<div class="top-hero-wrapper">
  <div class="container top-hero-container">
      <h1>癒やしの花へようこそ</h1>

      <h2>素敵なお花の写真をみんなで共有しよう！</h2>


      <%= link_to "新規登録", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>